body {
    margin: 20px;
  
    font-family:'Times New Roman', Times, serif;
}
p:hover{
    border-bottom:1px dotted #283618;
}
h3:hover{
    border-bottom:1px dotted #283618;
}
h4:hover{
    border-bottom:1px dotted #283618;
}

.avatar {
    width: 150px;
    height: 170px;
    object-fit: cover;
    object-position: top;
    border-radius: 50px;
    }

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #2a9d8f;
    color: #283618;
    border-radius: 10px;
        
}

.avatar:hover{
    border:1px solid #283618;
}

.card:hover{
    border:1px solid #283618;
    border-bottom: 6px solid #588157;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/
